.crosshairs {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
.crosshairs.captureMouse {
  pointer-events: all;
}
.crosshairs .hover {
  pointer-events: all;
  /* cursor: "pointer"; */
  /* Increase the mouse hover area */
  stroke: transparent;
  stroke-width: 6;
}
.crosshairs .hover:hover,
.crosshairs .hover.active {
  stroke: currentColor;
}

.thicknessYCursor {
  cursor: col-resize;
}
.thicknessXCursor {
  cursor: row-resize;
}
.rotateCursor {
  cursor: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyNC4yNDUiPjxwYXRoIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSIxIiBkPSJNMTAgMjMuNzQ2Yy01LjIzOCAwLTkuNS00LjI2Mi05LjUtOS41YTkuOCA5LjggMCAwIDEgLjAxNC0uNTI3bC4wMjYtLjQ3M0g0LjU2NGwtLjA0NS41NDJBNS41MDcgNS41MDcgMCAwIDAgMTAgMTkuNzQ2YzMuMDMzIDAgNS41LTIuNDY3IDUuNS01LjUgMC0yLjg2NS0yLjItNS4yMjUtNS01LjQ3OHYzLjYwMWwtLjgzNS0uNzUxLTQuOTk5LTQuNS0uNDEzLS4zNzIuNDEzLS4zNzIgNS00LjUuODM0LS43NXYzLjYzNWM1LjAwNy4yNiA5IDQuNDE2IDkgOS40ODcgMCA1LjIzOC00LjI2MiA5LjUtOS41IDkuNXoiLz48L3N2Zz4=)
      10 12,
    pointer;
}

.crosshairCursor {
  cursor: crosshair;
}
